/* Default Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Montserrat", "Inter" sans-serif;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  --color-primary: #dfe9f4;
  --color-secondary: #f2f5ff;
  --color-accent: #054c73;
  --color-text: #666666;
}
/* Container */
/* Navbar */
.navbar {
  width: 100%;
  height: 19rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.2);
}

.navbar-top {
  display: flex;
  align-items: center;
  padding: 2rem 0;
}
.navbar-top div {
  margin: 0 4rem;
}

.logo {
  display: flex;
  align-items: center;
}
.logo-icon {
  height: 4rem;
  margin-right: 1.5rem;
}
.logo span {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: var(--color-accent);
}

.search-bar {
  position: relative;
}

.search-bar input {
  width: 52rem;
  padding: 1rem 1rem 1rem 3.7rem;
  border: none;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  background-color: var(--color-secondary);
}

.search-bar i {
  position: absolute;
  top: 50%;
  left: 1.4rem;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: var(--color-accent);
}

.user {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  color: var(--color-accent);
}

.user i,
.user span {
  margin-right: 1.6rem;
}

.nav-list {
  display: flex;
  height: 8.5rem;
  padding-top: 2rem;
}

.nav-list div {
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 0.1rem solid #e9edf1;
  cursor: pointer;
}

.nav-list div:nth-child(1) {
  border: none;
}

.nav-list i {
  font-size: 2rem;
  color: var(--color-accent);
  margin-bottom: 1rem;
}

.nav-list span {
  font-size: 1.2rem;
  color: var(--color-accent);
  letter-spacing: 0.1rem;
}

/* Landing */
.landing {
  width: 100%;
  position: relative;
}

.visual-area {
  background: url("/images/landing-bg.jpg") no-repeat center/cover;
  display: flex;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
.visual-area img {
  width: 100%;
  align-items: center;
}
.stat-bar {
  max-width: 122rem;
  margin: -70px auto 0; /* 关键：向上压住图片 */
  background-color: var(--color-accent);
  border-radius: 20px;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 32px 40px;
  color: #fff;
}

.stat-item {
  width: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 0.1rem solid #e9edf1;
  cursor: pointer;
}

.stat-item:first-child {
  border-left: none;
}
.stat-number {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 8px;
  text-align: center;
}

.stat-text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  opacity: 0.9;
  text-align: center;
}

/* Products Section */
.products {
  max-width: 122rem;
  margin: 8rem auto;
}
.products-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.products-top-content .title {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  color: var(--color-accent);
}
.products-top-content .subtitle {
  font-size: 2rem;
  color: var(--color-text);
  margin-top: 0.5rem;
}

.products-icons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 5rem 0;
}

.products-icons div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;
  height: 20rem;
  margin-right: 2rem;
  background-color: var(--color-secondary);
  padding: 4rem 0;
  gap: 2rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.4s;
  font-size: 2rem;
  color: var(--color-text);
}

.products-icons div:hover {
  background-color: #fff;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
}

.products-icons div:last-child {
  margin-right: 0;
}

.products-icons img {
  width: 6rem;
}

/* Pricing */
.pricing {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20rem;
}

.pricing-top {
  display: flex;
  align-items: center;
  margin-bottom: 15rem;
}

.pricing-top img {
  margin-right: 20rem;
}

.pricing-top p {
  font-size: 2rem;
  color: var(--color-text);
  width: 50rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.pricing-top h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 6rem;
  color: var(--color-accent);
  width: 50rem;
  line-height: 1;
  margin-bottom: 3rem;
}

button {
  padding: 1.1rem 2.5rem;
  font-size: 1.6rem;
  color: #fff;
  background-color: var(--color-accent);
  border: 0.1rem solid var(--color-accent);
  border-radius: 3rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ffffff;
  border: 0.1rem solid var(--color-accent);
  color: var(--color-accent);
}

.pricing-cards {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

.pricing-card {
  width: 30rem;
  height: 45rem;
  border: 0.1rem solid var(--color-primary);
  background-color: #ffffff;
  margin: 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
  cursor: pointer;
  position: relative;
}

.pricing-card-icons {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
}

.pricing-card-icons i {
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  color: var(--color-accent);
  opacity: 0;
  visibility: hidden;
  transform: translateY(2rem);
  transition: all 0.3s;
}

.pricing-card:hover .pricing-card-icons i {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.img-wrapper {
  height: 25rem;
}
.pricing-card h3 {
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #073e72;
}

.star i {
  font-size: 1.6rem;
  color: #f8872b;
}

.pricing-card h4 {
  font-size: 1.8rem;
  color: #073e72;
}

.blog {
  width: 100%;
  height: 60vh;
  background-color: var(--color-accent);
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-content {
  width: 50%;
  height: 48rem;
  background-color: var(--color-secondary);
  border-radius: 3rem;
  /* position: relative; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.blog-content img {
  width: 40rem;
}

.blog-content div {
  width: 40rem;
}

.blog-content div h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  color: var(--color-accent);
  margin-bottom: 2rem;
}

/* Contact */
.contact {
  width: 100%;
  height: 28vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-content {
  width: 60%;
  height: 15rem;
  display: flex;
  /* position: relative; */
}

.content-left {
  width: 40%;
  height: 80%;
  background-color: var(--color-accent);
  border-radius: 2rem 0 0 2rem;
  display: flex;
  align-items: center;
  padding-left: 6rem;
}

.content-left p {
  width: 80%;
  font-size: 2rem;
  line-height: 1.4;
  color: #fff;
}

.content-right {
  width: 60%;
  height: 80%;
  background-color: var(--color-primary);
  border-radius: 0 2rem 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-right input {
  width: 35rem;
  height: 4rem;
  background-color: #ffffff;
  padding: 2rem;
  border: none;
  border-radius: 1rem;
  margin-right: 2rem;
}

/* reveal */
.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* Success Message */
.content-right-success {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  background-color: white;
  width: 400px;
  padding: 40px;
  border-radius: 5px;
}

.content-right-success i {
  font-size: 3rem;
  align-items: center;
  color: #00c853;
  margin-bottom: 3rem;
}

.content-right-success p {
  font-size: 1.6rem;
}

.content-right-success button {
  margin-top: 1rem;
}

.hidden {
  display: none;
}
